@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root {
  --rojoOscuro: #660708;
  --negro: #0b090a;
  --rojoClaro: #a4161a;
}

.color-acento {
  color: var(--rojoClaro);
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(media/Background/8263358842_a2748b2170_b.jpg);
}

.caja-blur {
  background-color: transparent;
  background: rgba(11, 9, 10, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
}

.presentacion {
  padding: 0 0 0 20px;
  justify-content: flex-start;
  color: white;
}
.presentacion .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 90%;
  height: 80%;
}
.presentacion .content p {
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.presentacion .content button {
  background-color: var(--rojoOscuro);
  color: white;
  width: 35%;
  height: 15%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 2px 2px 10px rgb(72, 72, 72);
  transition: all 0.2s ease-in;
}
.presentacion .content button:hover {
  background-color: var(--rojoClaro);
  box-shadow: 2px 2px 20px rgb(125, 125, 125);
}
.social .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.social .content .redes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  width: 70%;
}
.social .content .redes .red {
  background-color: rgb(22, 22, 22);
  width: 70px;
  height: 70px;
  border-radius: 20px;
  display: grid;
  place-items: center;
  box-shadow: 2px 2px 20px rgb(50, 50, 50);
  transition: all ease-in 0.1s;
}
.social .content .redes .red i {
  color: white;
  font-size: 2.4rem;
  transition: all ease-in 0.1s;
}
.social .content .redes .red:hover {
  background-color: rgb(30, 30, 30);
  box-shadow: 2px 2px 40px rgb(68, 68, 68);
  transform: scale(1.1);
}
.social .content .redes .red:hover i {
  color: var(--rojoClaro);
}

.social .content button {
  width: 70%;
  height: 20%;
  background-color: var(--rojoOscuro);
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  outline: none;
  box-shadow: 2px 2px 10px rgb(72, 72, 72);
  transition: all 0.2s ease-in;
}
.social .content button:hover {
  background-color: var(--rojoClaro);
  box-shadow: 2px 2px 20px rgb(125, 125, 125);
}

.main-project {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(media/Proyectos/MainProject/main-project.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all ease-in-out 0.3s;
}
.main-project:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url(media/Proyectos/MainProject/main-project.png);
}
.main-project .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  height: 80%;
  opacity: 0;
  pointer-events: none;
  transition: all ease-in-out 0.3s;
}

.main-project:hover .content {
  opacity: 1;
  pointer-events: inherit;
}
.main-project .content .texto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.main-project .content .texto h2 {
  font-size: 3rem;
}
.main-project .content .texto p {
  font-size: 1.5rem;
}
.main-project .content .botones {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-project .content .botones i {
  font-size: 2.5rem;
  color: var(--rojoOscuro);
  transition: all ease-in 0.1s;
}
.main-project .content .botones i:hover {
  transform: scale(1.2);
  color: var(--rojoClaro);
}
