:root {
  --rojoOscuro: #660708;
  --negro: #0b090a;
  --rojoClaro: #a4161a;
}

.color-acento {
  color: var(--rojoClaro);
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(media/Background/8263358842_a2748b2170_b.jpg);
}

.caja-blur {
  background-color: transparent;
  background: rgba(11, 9, 10, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
}

.presentacion {
  padding: 0 0 0 20px;
  justify-content: flex-start;
}
.presentacion .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 90%;
  height: 80%;
}
.presentacion .content p {
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.presentacion .content button {
  background-color: var(--rojoOscuro);
  color: white;
  width: 35%;
  height: 15%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 2px 2px 10px rgb(72, 72, 72);
  transition: all 0.2s ease-in;
}
.presentacion .content button:hover {
  background-color: var(--rojoClaro);
  box-shadow: 2px 2px 20px rgb(125, 125, 125);
}
